<div class="container-fluid">
  <div class="row"></div>
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Name</th>
          <th class="h4">Channel</th>
          <th class="h4">Seasons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of practicas">
          <td>
            <dd>{{c.id}}</dd>
          </td>
          <td>
            <dd  (click)="onSelected(c)">{{c.name}}</dd>
          </td>
          <td>
            <dd>{{c.channel}}</dd>
          </td>
          <td>
            <dd>{{c.seasons}}</dd>
          </td>


        </tr>
      </tbody>
    </table>
  </div>

    <div class="col" >
      <div class = "row">
        <div *ngIf="selected">
          <app-PracticaDetail [practicaDetail] = "selectedPractica"></app-PracticaDetail>
      </div>
      </div>
  </div>
</div>
